/Fixed/build/
/Fixed/nbproject/project.properties
/Fixed/nbproject/build-impl.xml
/Fixed/nbproject/private/private.properties
/Fixed/nbproject/genfiles.properties
/Fixed/build.xml
/Fixed/nbproject/project.xml
/TestDate/nbproject/private/
/TestDate/build/
/TesteData/nbproject/private/
/TesteData/build/
/TestJOptionPane/nbproject/private/
/TestJOptionPane/build/